<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/account.js"></script>
</head>
<body>
<div>
    <p th:text="'Username: '+${userName}"></p>
</div>
<div>
    <p th:text="'First Name: '+${accountInfo.firstName}"></p>
</div>
<div>
    <p th:text="'Last Name: '+${accountInfo.lastName}"></p>
</div>
<div>
    <p th:text="'Address: '+${accountInfo.address}"></p>
</div>
<div>
    <p th:if="${accountInfo.isSuspended()} == false">Status: ACTIVE</p>
    <p th:if="${accountInfo.isSuspended()}">Status: SUSPENDED</p>
</div>
<button id="editButton">Edit</button>
<br>
<button>Suspend Account</button>
<button id="cancelButton">Cancel Account</button>
<div id="cancelDiv"></div>
</body>
</html>