<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bill Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/bill.js"></script>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</head>
<body>
    <div th:each="bill: ${bills}">
        <p th:text="'Billing Due Date: ' +${bill.dueDate}">Billing</p>
        <p th:text="'Billing Total Due: ' +${bill.total}"></p><br>
        <button th:id="${bill.billID}" class="payBillButton">Pay Bill</button>
    </div>
</body>
</html>