<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ViewComplaints</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/complaint.js"></script>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</head>
<body>
<p>Complaints</p>
<div th:each="complaint: ${complaints}">
    <p th:text="${complaint.getComplaint()}">Complaints</p>
    <button th:id="'viewed' + ${complaint.getComplaintID()}" class="viewedButtons">Mark Viewed</button><button th:id="'respond'+${complaint.getComplaintID()}" class="complaintResponseBtns">Respond</button>
    <p></p>
    <div th:id="'complaintResponseDiv' + ${complaint.getComplaintID()}" style="display:none">
        <input th:id="'complaintResponseInput' + ${complaint.getComplaintID()}" type="text"></input>
    </div>
</div>
</body>
</html>